* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 0;
  padding: 0;
}
